body{
  color: #222222;
}


#masthead{
  grid-area:masthead;
  padding-left: 35px;

}

#content1::after{
    content: "\a";
    white-space: pre;
}
#content2::after{
    content: "\a";
    white-space: pre;
}
#content3::after{
    content: "\a";
    white-space: pre;
}
#content4::after{
    content: "\a";
    white-space: pre;
}
#content5::after{
    content: "\a";
    white-space: pre;
}
#content6::after{
    content: "\a";
    white-space: pre;
}

#footer{
  grid-area: footer;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "masthead    article"
  "sidebar      footer"
}
table{border: 2px solid #222;
padding: 5px;

}

div.agepct td{
  padding-right: 50px;
}
h1{
  font-family: "arial narrow", "arial black", sans-serif;
  font-size: 80px;
  color: #0038B8;
  text-decoration: underline;
}

div.military td{
  padding-right: 20px;
}
body{
  font-family: "arial black", "arial narrow", "sans serif";
  font-size: 15px;}

h2{color: #0038B8;
font-size: 30px;}
table{
  margin:5px;
  padding-right: 10px;
}


h3, h4{
  color: #7EC0EE;
  margin:5px;
  font-size:20px;
}
nav{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  border: 2px solid #222;
  background-color: #ADD8E6
}
div.image img{
  padding-top:20px;
}
nav a:hover{
  background-color:#D3D3D3;
}
nav ul{
  padding-left: 0;
  list-style-type: none;}

  a:link{
    background-color: #ffffff;
  }
  a:visited{
    background-color: #ffffff;}

  a:active{
  background-color: #fff; }

nav li{
  display: inline-block;
  margin-right: 40px;
}



input:default {
  color: #0038B8;
}

div.military table{
  border: 3px solid #112;
  padding: 5px;
}
